﻿@model ProductViewModel
@{
    ViewData["Title"] = "Creation product";
}
<h1>Создание товара</h1><br />
<form asp-antiforgery="true" asp-action="Index" asp-controller="Home" 
      data-ajax="true" data-ajax-method="POST" data-ajax-update="#success">
    <div id="success">
        <div class="validation-summary-valid" asp-validation-summary="ModelOnly"></div>
        <p>
            <label asp-for="Name">Имя товара:</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="Info">Описание товара:</label><br />
            <textarea asp-for="Info"></textarea>
            <span asp-validation-for="Info"></span>
        </p>
        <p>
            <label asp-for="Date">Дата получения товара:</label><br />
            <input type="date" asp-for="Date" />
            <span asp-validation-for="Date"></span>
        </p>
        <p>
            <label asp-for="Country">Страна изготовления товара:</label><br />
            <input type="text" asp-for="Country" />
            <span asp-validation-for="Country"></span>
        </p>
        <p>
            <label asp-for="Price">Цена</label><br />
            <input type="number" asp-for="Price" />
            <span asp-validation-for="Price"></span>
        </p>
        <p>
            <input type="submit" value="Отправить" class="btn btn-primary">
        </p>
    </div>
</form>

@section scripts{
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}