﻿@model Service

<div id="list">
    <table class="table">
        <tr>
            <th>
                <a asp-action="Sort" asp-route-sortState="@ViewBag.Name"
                   data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                    Имя товара
                </a>
            </th>
            <th>
                Описание товара
            </th>
            <th>
                <a asp-action="Sort" asp-route-sortState="@ViewBag.Date"
                   data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                    Дата получения товара
                </a>
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>

        @foreach (var product in Model.TakeFromStorage((int)ViewData["Page"]))
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Info</td>
                <td>@product.Date</td>
                <td>@product.Price</td>
            </tr>
        }
    </table>

    @if (Model.HasPreviousPage)
    {
        <a asp-action="ListProcessing" asp-route-page="@((int)ViewData["Page"] - 1)"
           data-ajax="true" data-ajax-method="POST" data-ajax-update="#list"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="ListProcessing" asp-route-page="@((int)ViewData["Page"] + 1)"
           data-ajax="true" data-ajax-method="POST" data-ajax-update="#list"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>
